@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  box-sizing: border-box;
  --Fees-color-rgb: 11, 113, 181;
  --result-color-rgb: 249, 65, 68;
  --attendance-color-rgb: 255, 221, 41;
  --Registration-color-rgb: 255, 46, 121;
  --timetable-color-rgb: 57, 1, 129;
  --health-color-rgb: 0, 128, 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  /* padding: 0; */
  /* margin: 0; */
}

a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 767px) {
  body {
    display: none;
  }
}
