/* GENERAL */
.Reg_form_Container {
  background-color: rgba(255, 255, 255, 1);
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.next {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px 10px 0;
}
.next button {
  background-color: #01427a;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  padding: 20px 40px 20px 40px;
  border: none;
  cursor: pointer;
}
.Reg_header {
  background-color: rgba(1, 66, 122, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
  font-weight: 700;
  align-items: center;
}

.Reg_header svg {
  cursor: pointer;
}

.Reg_Content {
  width: 100%;
}

.Reg_Content hr {
  margin-left: -30px;
  margin-right: -30px;
}

.section,
.sectionlast {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 30px;
}

.RegFormTitle {
  font-weight: 700;
  color: rgba(1, 66, 122, 1);
  margin-bottom: 15px;
  margin-top: 25px;
}

.Reg_form_Container label {
  font-weight: 700;
  color: rgba(128, 128, 128, 1);
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.Reg_form_Container hr {
  border: 1px solid #0000001a;
  margin-top: 40px;
  width: 100%;
}

.section input::placeholder,
.sectionlast input::placeholder .tokensection input::placeholder {
  color: #0b0a0a33;
}

.section select,
.sectionlast select {
  color: #0b0a0a33;
}
.sectionlast {
  margin-bottom: 100px;
}

.tokensection {
  padding: 10px 30px;
}
.section input,
.sectionlast input,
.sectionlast select,
.tokensection input,
.section select {
  padding: 18px 20px 18px 20px;
  border-radius: 5px;
  border: 2px solid hsl(0, 0%, 85%);
  color: rgba(128, 128, 128, 1);
  outline: none;
  font-size: 14px;
  /* color: #0b0a0a33; */
  background-color: #fff;
}

.formgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 15px;
}
.formgrid input {
  width: 100%;
}
/* personal */
.personalInfoGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  row-gap: 40px;
}
.personalInfoGridadmission {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  row-gap: 40px;
}
@media (min-width: 1330px) {
  .personalInfoGridadmission {
    grid-template-columns: 0.5fr 1fr;
  }
}
.personalInfoItemgrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.personalInfoItem input,
.personalInfoItem select,
.personalInfoGrid input {
  width: 100%;
}
.personalInfoGridadmissionitem {
  display: contents;
}
.grouppersonalInfoItem input,
.grouppersonalInfoItem select,
.grouppersonalInfoItemaddress select {
  width: 100%;
}
.grouppersonalInfoItem {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}

.grouppersonalInfoItemaddress {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}

.grouppersonalInfoItemadmission {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}

.StatActive,
.Stat {
  padding: 10px 55px; /* Combined padding */
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-bottom: 0;
}

.StatActive {
  background-color: #1bb66e;
}

.Stat {
  background-color: #f2645c;
}

.personalInfoItemaddress {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.personalInfoItemcity {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
