.Reg_form_Container {
  background-color: rgba(255, 255, 255, 1);
  font-family: "Roboto", serif;
}

.Reg_header {
  background-color: rgba(1, 66, 122, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
  font-weight: 700;
}
.Reg_header svg {
  cursor: pointer;
}

.Reg_Content {
  padding: 20px 30px 10px 30px;
}

.RegFormTitle {
  font-weight: 700;
  color: rgba(1, 66, 122, 1);
  margin-bottom: 10px;
  margin-top: 20px;
}
.Form_input label {
  font-weight: 700;
  color: rgba(128, 128, 128, 1);
  font-size: 14px;
  display: flex;
}
.Form_input {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.Form_input input,
.Form_input select {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 2px;
  font-weight: 400;
  font-size: 12px;
  color: rgba(11, 10, 10, 0.25);
  max-width: 100%;
}
.Reg_form_Container hr {
  color: rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}
.groupedinfo {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}
.groupedinfo_address {
  display: flex;
  gap: 20px;
}
@media (min-width: 750px) {
  .Form_input input,
  .Form_input select {
    width: 220px;
  }
  .Form_input .groupedinfo input,
  .Form_input select {
    width: 100px;
  }
}
@media (min-width: 1024px) {
  .Form_input input,
  .Form_input select {
    width: 400px;
  }
  .Form_input .groupedinfo input,
  .Form_input select {
    width: 190px;
  }
}
